.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 340px;
  height: 75vh;

  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;

  padding: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

  overflow: hidden;
  z-index: 1000;
}
