.errorComp {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  border: 1px solid red;
  background-color: rgb(255, 222, 222);
  color: black;
  border-radius: 5px;
  padding: 10px;
}
