.submit-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  background-color: bisque;
  border-radius: 50%;
  color: black;
  bottom: 10px;
  right: 10px;
}
.closeButton {
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  background-color: bisque;
  border-radius: 50%;
  color: black;
  top: 10px;
  right: 10px;
}
.closeIcon {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
