@import "tailwindcss";

@font-face {
  font-family: "Caprasimo";
  src: local("Caprasimo"),
    url("./assets/fonts/Caparsimo/Caprasimo-Regular.woff2") format("woff2"),
    url("./assets/fonts/Caparsimo/Caprasimo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
